@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

*{
    font-family: "Poppins",sans-serif;
    color: white;
}

body{
    background-color: #1f2833;
    overflow-x: hidden;
}



.navbar{
    padding: 15px 18px !important;
}

.logo{
    font-weight: 600;
    color: rgba(255, 255, 255, 0.848) !important;
}

.nav-item{
    margin: 0px 10px;
}


.nav-item .nav-link{
    color: rgba(255, 255, 255, 0.92);
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.nav-link::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color: rgb(255, 129, 57);
    width: 0%;
    height: 3px;
    transition: 0.4s ease-in-out;
}

.nav-item:hover .nav-link::after{
    width: 100%;
}

.nav-link:hover{
    color: rgb(255, 129, 57);
}




.container{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;

}

.img-prod{
    width: 470px;
    height: 570px;
    border-radius: 20px;
}

h4{
    margin-top: 50px;
    margin-bottom: 5px;
}

.title-prod{
    padding-top: 40px;
    padding-bottom: 4px;
}

h6{
    padding-top: 20px;
    color: #49525e;
}

.container input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    color: black;
    border-radius: 10px;
    outline: none;
    border: 0;
}

.container input:focus{
    outline: none;
}

button{
    text-align: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
    background-color: coral;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
}

.image-container{
    border: 20px;
    border-radius: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-content p {
    font-size: 14px;
  }
  
  .footer-content a {
    color: #fff;
    text-decoration: none;
  }
  .footer-content a:hover {
    text-decoration: underline;
  }


@media(max-width:750px){
    .content{
        width: 100%;
    }
}

@media (max-width:992px){
    .navbar{
        background-color: white;
    }
    
    .nav-item .nav-link{
        color: black;
        font-size: 17px;
        font-weight: 600;
    }
    .logo{
        color: black !important;
    }
    
    .navbar-nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .navbar-nav .nav-item{
        margin: 8px 0px;
    }
}